extends ../../../layout/admin
block admincontent
  main.main
    // Breadcrumb
    ol.breadcrumb
      li.breadcrumb-item Home
      li.breadcrumb-item.active Catalogue
     
    .container-fluid
      
        .row
          .col-lg-12
            .card
              .card-header
                i.fa.fa-align-justify
                |  Danh sách Catalogue
              .card-block
                table.table.table-bordered.table-striped.table-condensed
                  thead
                    tr
                      th Tên 
                      th Đầu trang 
                      th Cuối trang 
                      th Trang 
                      th Tuỳ chọn 
                  tbody
                    -if(list.docs)
                      each ln in list.docs
                        tr
                          td #{ln.name}
                          th 
                            img(src="/public/upload/catalogue/thumb/#{ln.firstpage}")
                          th 
                            img(src="/public/upload/catalogue/thumb/#{ln.lastpage}")
                          td 
                            -for (var i = 0; i < ln.leftpages.length ; i++)
                              p 
                                img(src="/public/upload/catalogue/thumb/#{ln.leftpages[i]}")
                                img(src="/public/upload/catalogue/thumb/#{ln.rightpages[i]}")

                          td 
                         
                            a.my_click_remove.btn.btn-danger(href="/admin/catalogue/remove/#{ln._id}")
                              | Xoá 
                include ../paginate
