extends ../../../layout/admin
block admincontent
  main.main
    // Breadcrumb
    ol.breadcrumb
      li.breadcrumb-item 
        a(href="/" target="_black")
          | Home
      li.breadcrumb-item.active đối tác 
    .container-fluid
      
      form.animated.fadeIn(method='post' enctype="multipart/form-data")
        -if(success)
          .card.card-inverse.card-primary.text-xs-center
            .card-block.card-primary
              blockquote.card-blockquote
                p
                  | #{success}


        .row
          .col-md-12
            .card
              .card-header
                i.fa.fa-edit
                | đối tác 
               
              .card-body
                div.form-horizontal(method='post' )
                  .form-group.row
                    label.form-control-label.col-md-3(for='') Tên 
                    .controls.col-md-9
                      .input-group
                        input.form-control( type='text' name="name" value='#{data && data.name? data.name : ""}' )
                      -if(error.name)
                          div.invalid-feedback(style='display:block')
                              | #{error.name}
                
                  .form-group.row
                    label.form-control-label.col-md-3(for='') Hình ảnh đại diện 
                    .controls.col-md-9
                      .input-group
                        input.form-control( type='file' name="picture" id="picture" accept="image/*")
                      #list
                          img(src="/public/upload/supplier/#{data && data.picture? data.picture.toString() : ''}")
                    -if(error.picture)
                          div.invalid-feedback(style='display:block')
                              | #{error.picture}
                  
                  .form-group.row
                    label.form-control-label.col-md-3(for='') Trạng thái  
                    .controls.col-md-9
                      -if(data.status)
                        .radio
                          label
                            input( type='radio' name="status" value='false' ) 
                            |    Ẩn 
                        .radio
                          label
                            input( type='radio' name="status" value="true" checked ) 
                            |  Hiện 
                      -else
                        .radio
                          label
                            input( type='radio' name="status" value='false' checked ) 
                            |  Ẩn
                        .radio
                          label
                            input( type='radio' name="status" value="true" ) 
                            |  Hiện
                  .form-group.row
                      label.form-control-label.col-md-3(for='') Mô tả 
                      .controls.col-md-9
                        .input-group
                          textarea#contents.form-control( type='text' name="description")  #{data && data.description? data.description : ""}
                      
                    
                  .form-actions
                    button.btn.btn-primary(type='submit') Save changes
                    button.btn.btn-secondary(type='reset') Cancel
         
          script.
            function handleFileSelect(evt) {
            var files = evt.target.files; // FileList object
            
            for (var i = 0, f; f = files[i]; i++) {
            
            if (!f.type.match('image.*')) {
            continue;
            }
            var reader = new FileReader();
           
            reader.onload = (function(theFile) {
            return function(e) {
            // Render thumbnail.
            var span = document.createElement('span');
            span.innerHTML = ['<img  class="thumb" src="', e.target.result,
            '" title="', escape(theFile.name), '"/>'].join('');
            
            document.getElementById('list').innerHTML="";
            document.getElementById('list').insertBefore(span, null);
            };
            })(f);
            
            reader.readAsDataURL(f);
            }
            }
            document.getElementById('picture').addEventListener('change', handleFileSelect, false);

            