section.shipper
  .container
    .box_shipper
      h2(class='font-face') Quy trình đơn hàng 
      ul
        li 
          a(href="javascript:;")
            img(data-src="/public/hoangha/general/img/setup1.jpg" class='lazyload')
            p Kiểm tra nội dung, màu sắc & bắt đầu in ấn 
        li
          a(href="javascript:;")
            img(data-src="/public/hoangha/general/img/setup2.jpg" class='lazyload')
            p Tiến hàng in ấn 
        li
          a(href="javascript:;")
            img(data-src="/public/hoangha/general/img/setup3.jpg" class='lazyload')
            p Gia công thành phẩm 
        li
          a(href="javascript:;")
            img(data-src="/public/hoangha/general/img/setup4.jpg" class='lazyload')
            p Kiểm tra và đóng gói 
        li
          a(href="javascript:;")
            img(data-src="/public/hoangha/general/img/setup5.jpg" class='lazyload')
            p Giao hàng 
        

footer.footer
  .container
    #ft_dathang.col-md-4
      div
        h2 Liên hệ đặt hàng
        img(src='/public/hoangha/general/img/img-dathang.jpg', alt='hotline đặt hàng')
        p Các ngày trong tuần: 8h00 : 17h30
        p Thứ bảy: 8h00 : 12h00
    #ft_thongtin.col-md-8
      #ft_thongtin_cty
        .col-3.logofooter
          img(src='/public/hoangha/general/img/logo-footer.jpg', alt='Logo Footer')
        .col-9
          h2 #{general.name}
          p #{general.address}
          p #{general.gc}
          p
            a(href='mailto:info@inanhoangha.com') Email: info@inanhoangha.com
          p
            | Hotline:
            a(href='tel:02838108910', title='Hotline') (028) 38 10 89 10
            |  -
            a(href='tel:0912112170', title='Hotline') 09 121 121 70
      .linedot
      #ft_thongtin_qd
        .col-4
          h3 phương thức đặt hàng
          ul
           
            li
              a(href='/tin-tuc/dat-hang-truc-tuyen', target='_blank') - Đặt hàng trực tuyến
            li
              a(href='/tin-tuc/dat-hang-qua-email', target='_blank') - Đặt hàng qua email
            li
              a(href='/tin-tuc/dat-hang-dien-thoai', target='_blank') - Đặt hàng điện thoại
            li
              a(href='/tin-tuc/quy-trinh-dat-hang', target='_blank') - Quy trình đặt hàng
        .col-4
          h3 phương thức thanh toán
          ul
            li
              a(href='/tin-tuc/thanh-toan-truc-tiep', target='_blank') - Thanh toán trực tiếp
            li
              a(href='/tin-tuc/thanh-toan-chuyen-khoan', target='_blank') - Thanh toán chuyển khoản
            li
              a(href='/tin-tuc/thanh-toan-buu-dien', target='_blank') - TT qua đường bưu điện
        .col-4
          h3 phương thức vận chuyển
          ul
            li
              a(href='/tin-tuc/van-chuyen-noi-thanh', target='_blank') - Nội thành TP HCM
            li
              a(href='/tin-tuc/van-chuyen-tinh-khac', target='_blank') - Các tỉnh khác
            li
              a(href='/tin-tuc/chi-phi-van-chuyen', target='_blank') - Chi phí vận chuyển

script(type='text/javascript').
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?3PgeTGsqY7iWSn6E8hcEh5qOCWY04Wni";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-69648212-1', 'auto');
  ga('send', 'pageview');
