header.app-header.navbar
      ul.nav.navbar-nav.d-md-down-none
        li.nav-item.px-3
          a.nav-link(href='/' target="_black") Trang chủ 
        li.nav-item.px-3
          a.nav-link(href='/admin/index/dashboard') Dashboard
        li.nav-item.px-3
          a.nav-link(href='/admin/user/list') Tài khoản 
        li.nav-item.px-3
          a.nav-link(href='/admin/user/password') Thiết lập 
      ul.nav.navbar-nav.ml-auto
        li.nav-item.d-md-down-none
          a.nav-link(href='/admin/user/contact')
            i.icon-bell
            span.badge.badge-pill.badge-danger #{totalcontact}

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle.nav-link(data-toggle='dropdown', href='/admin/user/add', role='button', aria-haspopup='true', aria-expanded='false')
            img.img-avatar(src='/public/admin/img/avatars/6.jpg', alt='admin')
            span.d-md-down-none 
          .dropdown-menu.dropdown-menu-right
            .dropdown-header.text-center
              strong Quản lý 
            a.dropdown-item(href='/admin/categories/list')
              i.fa.fa-bell-o
              |  Danh mục 
              span.badge.badge-info #{totalcate}
            a.dropdown-item(href='/admin/product/list')
              i.fa.fa-envelope-o
              |  Sản phẩm 
              span.badge.badge-success  #{totalproduct}
            a.dropdown-item(href='/admin/design/list')
              i.fa.fa-tasks
              |  Thiết kế 
              span.badge.badge-danger  #{totaldesign}
            a.dropdown-item(href='/admin/project/list')
              i.fa.fa-comments
              |  Dự án  
              span.badge.badge-warning  #{totalproject}
            .dropdown-header.text-center
              strong Tài khoản 
            a.dropdown-item(href='/admin/user/list')
              i.fa.fa-user
              |  Đổi mật khẩu 
            a.dropdown-item(href='/admin/user/password')
              i.fa.fa-wrench
              |  Thêm tài khoản 
            a.dropdown-item(href='/admin/user/add')
              i.fa.fa-usd
              |   Tài khoản 
              span.badge.badge-default 42
            a.dropdown-item(href='/admin/user/logout')
              i.fa.fa-lock
              |  Logout
      button.navbar-toggler.aside-menu-toggler(type='button') 